*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #2facff !important;
  color: #000000 !important;
  text-shadow: none;
}

::selection {
  background: #2facff !important;
  color: #000000 !important;
  text-shadow: none;
}

.primary-font {
  text-align: inherit;
  color: inherit;
  font-weight: 800;
  font-size: clamp(1.5rem, 5vw, 3rem);
  margin-bottom: 0.4em;
}

.secondary-font {
  text-align: inherit;
  color: inherit;
  font-weight: 600;
  font-size: clamp(1.4rem, 5vw, 2rem);
  margin-bottom: 0.3em;
}

.tertiary-font {
  text-align: inherit;
  color: inherit;
  font-weight: 600;
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  margin-bottom: 0.2em;
}

.primary-color {
  color: #0057a6;
}

.secondary-color {
  color: #470063;
}

.rte {
  font-weight: 300;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

@media (max-width: 750px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 70%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #0057a6;
}
